<html>
    <head>
        <h1 style="text-align: center">Website is in progress.</h1>
        <title>My web</title>
    </head>
    <body>
        <br>
        <div id="root" style="text-align: center">
            Our devs are in full action. Please wait for some days.
        </div>
    </body>
</html>